@{
    ViewBag.Title = "Find a Tutor";
}

<!DOCTYPE html>
<html>
<head>
    <title>Piano++</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>

    <p>Chat live with tutor <a href="https://pianopianoplusplus.herokuapp.com">W3Schools</a></p>
</body>
</html>
